{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}


{% block content %}
{% if title == "Login" %}
<div>
	<form action="" method="post" accept-charset="utf-8">
		{% csrf_token %}

		<label for='username'>Username:</label>
		<input type="text" name="username" value="{{username}}" placeholder="Username"/>
		<label for="password">Password:</label>
		<input type="password" name="password" value="{{password}}" placeholder="Password"/>

		<input type="submit" value="Submit"/>
		<p>Have'nt any account yet?</p>
		<a href="{% url 'register' %}">Register here</a>
	</form>
</div>
{% endif %}

<div>
	<form action="" method="post">
		{% csrf_token %}
		{{register_form.as_p}}
		<input type="submit" value="Submit">
		<p>Already have an account?</p>
		<a href="{% url 'login' %}">Login here</a>
	</form>
</div>
{% endblock %}